<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <link href="/mirrorui/mirrorui.css" rel="stylesheet" />
  <title>jslib-doc | Mirror Space</title>
  <style>
    .page {
      display: grid;
      grid-template-columns: 210px auto;
    }

    .menu-box {
      position: sticky;
      top: 0;
      width: 94%;
      max-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .doc-part-box {
      margin: 50px auto;
    }
  </style>
</head>
<body>

  <div class="page">
    <div class="menu-box">
      <m-sidemenu class="sidemenu-box" id="main_menubox">
        <ul class="sidemenu-group">
          <li>
            <span class="sidemenu-label">About<i class="sidemenu-arrdown"></i></span>
          </li>
          <li><a class="sidemenu-item" href="#about">关于</a></li>
          <li><a class="sidemenu-item" href="#cavlib">cavlib</a></li>
        </ul>
        <ul class="sidemenu-group">
          <li>
            <span class="sidemenu-label">直线<i class="sidemenu-arrdown"></i></span>
          </li>
          <li><a class="sidemenu-item" href="#dist">2点距离</a></li>
        </ul>
      </m-sidemenu>
    </div>
    <div class="content pd-15">
      <div id="about">
        <h2>关于cavlib</h2>
        <p>canvas绘画的库,模仿jQuery语法风格.</p>
      </div>

      @*片段页路径实际上是Key,不能使用变量,否则会找不到页面*@
      @Include("/doc/cavlib.part.cshtml")
      @Include("/doc/dist.part.cshtml")
    </div>
  </div>
  <script src="/jslib/jslib.js"></script>
  <script src="cavlib.js"></script>
  <script src="/mirrorui/mirrorui.js"></script>
  <script>
    // 为主菜单绑定点击事件 点击后加上sidemenu-active类,标识为活动菜单
    $('#main_menubox')[0].create();
  </script>
</body>
</html>