<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <link href="/mirrorui/mirrorui.css" rel="stylesheet" />
  <title>cavlib-doc | Mirror Space</title>
  <style>
    .page {
      display: grid;
      grid-template-columns: 210px auto;
    }

    .menu-box {
      position: sticky;
      top: 0;
      width: 94%;
      max-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .doc-part-box {
      margin: 50px auto;
    }
  </style>
</head>
<body>
  <script src="cavlib.js"></script>
  <div class="page">
    <div class="menu-box pd-l-10 pd-b-30">
      <m-docmenu id="main_menubox">
        <ul class="docmenu-group">
          <li>
            <span class="docmenu-title"><i class="docmenu-open"></i>About</span>
          </li>
          <li><a class="docmenu-item" href="#about">关于</a></li>
          <li><a class="docmenu-item" href="#cavlib">cavlib</a></li>
        </ul>
        <ul class="docmenu-group">
          <li>
            <span class="docmenu-title"><i class="docmenu-open"></i>坐标系</span>
          </li>
          
          <li><a class="docmenu-item" href="#aid_about">概述</a></li>
          <li><a class="docmenu-item" href="#xyAxis">xyAxis</a></li>
          <li><a class="docmenu-item" href="#lineArrow">lineArrow</a></li>
          <li><a class="docmenu-item" href="#p2Rect">p2Rect</a></li>
          <li><a class="docmenu-item" href="#pointVH">pointVH</a></li>
          <li><a class="docmenu-item" href="#pointTag">pointTag</a></li>
          <li><a class="docmenu-item" href="#pointChar">pointChar</a></li>
        </ul>
        <ul class="docmenu-group">
          <li>
            <span class="docmenu-title"><i class="docmenu-open"></i>形状</span>
          </li>
          <li><a class="docmenu-item" href="#shape_line">直线</a></li>
          <li><a class="docmenu-item" href="#shape_fillArea">填充</a></li>
        </ul>
        <ul class="docmenu-group">
          <li>
            <span class="docmenu-title"><i class="docmenu-open"></i>计算</span>
          </li>
          <li>
            <ul class="docmenu-group">
              <li>
                <span class="docmenu-title"><i class="docmenu-open"></i>直线</span>
              </li>
              <li><a class="docmenu-item" href="#line_about">概述</a></li>
              <li><a class="docmenu-item" href="#line_k">getK</a></li>
              <li><a class="docmenu-item" href="#line_dist">dist</a></li>
            </ul>
          </li>
        </ul>
      </m-docmenu>
    </div>
    <div class="content pd-15">
      <div id="about">
        <h2>关于cavlib</h2>
        <p>canvas绘画的库,模仿jQuery语法风格.</p>
      </div>

      @*片段页路径实际上是Key,不能使用变量,否则会找不到页面*@
      @Include("/doc/cavlib.part.cshtml")
      @Include("/doc/aid.part.cshtml")
      @Include("/doc/shapes.part.cshtml")
      @Include("/doc/data1_line.part.cshtml")
    </div>
  </div>
  <script src="/jslib/jslib.js"></script>
  <script src="/mirrorui/mirrorui.js"></script>
  <script>
    // 为主菜单绑定点击事件 点击后加上sidemenu-active类,标识为活动菜单
    $('#main_menubox')[0].create();
  </script>
</body>
</html>